@font-face {
    font-family: Santiago;
    src: url("../assets/fonts/santiago_sans_st/Santiago Sans St.ttf");
    font-family: ClashDisplay;
    src: url("../assets/fonts/Variable/ClashDisplay-Variable.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}
body {
    height:100vh;
    background-color: #F2ECE7;
}

.navbar{
    font-family: ClashDisplay;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-between ;
    height: 80px;
    padding: 0 50px;
}
.navbar h2{
    color:#FF6F0F;
    font-weight: 600;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;

}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-right: 25px;
    transition:color 0.3s ease;
}
.navbar ul li:hover a{
    color:#FF6F0F;
}
.navbar ul li:last-child a{
    margin:0;

}
.shop-btn{
    background-color: #FF6F0F;
    padding: 6px 30px;
    border:none;
    font-size:16px;
    cursor:pointer;
    border-radius:6px;
    transition: background-color 0.3s ease;
}
.shop-btn :hover{
background:#FF6F0F;

}

.main_text{
    font-size: 50px;
    font-family: Santiago;
    font: weight 400%;
    font-weight:lighter;
    padding-left: 250px;
    line-height: 600%;

    
}

.highlighted{
    color:#f37e30;
}

.simpson {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,208,233,1) 100%);
    }
    .container {
    width:25%;
    height:25%;
    display: inline-block;
    
    }

    
    svg:hover {
    filter:drop-shadow(2px 4px 7px black) ;
    }
    #img {
    transform-origin:110px 110px;
      -webkit-transition: -webkit-transform 1s ease-in-out;
              transition:         transform 1s ease-in-out;
    }
    
    #img:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
              
    }
