@font-face {
    font-family: Santiago;
    src: url("../assets/fonts/santiago_sans_st/Santiago Sans St.ttf");
    font-family: ClashDisplay;
    src: url("../assets/fonts/Variable/ClashDisplay-Variable.ttf");
}

body {
    background-color: #F2ECE7;
}

#first{
    font-family: ClashDisplay;
    width:100%;
    text-align: center;
}

#first a{
    color: black;
    display: inline-block;
    font-weight: small;
    margin: 0 50px;
}


.main_text{
    color:#413E3C;
    font-size: 50px;
    font-family: Santiago;
    font-weight:120%;
    font-weight: lighter;
}
