<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Yucca</title>
    <link rel="stylesheet" href="/Style/main.css"/>

</head>
<body>

    <div class="navbar">
        <h2>B.SKIN</h2>
        <ul>
            <li><a href="Products">Products</a></li>
            <li><a href="About_us">About us</a></li>
            <li><a href="Our_Store">Our Store</a></li>
            <li><a href="Contact_us">Contact us</a></li>
        </ul>

        <button class="shop-btn"Shop>Shop</button>

    </div>
        <div class="main_text">  
            <h1 >
        Let your
        <span class="highlighted"> skin</span>
        naturally renew
        <span class="highlighted"> itself</span>
       
            </h1>
    </div>
   

    <div class="simpson">
 
        <div class="container">
       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
           xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 230 230" preserveAspectRatio="xMinYMin meet">
        <defs>
          
         <mask id="msk1"> 
           <rect width="100%" height="100%" fill="black" />
          <circle cx="110" cy="110" r="100" fill="white" stroke-width="7" stroke="grey"  />
         </mask>
       </defs>
         
       
       <image id="img" xlink:href="https://i.stack.imgur.com/vN9Ni.jpg" width="100%" height="100%" mask="url(#msk1)" />
       </svg>	 
       </div> 
       
        <div class="container">
       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
           xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 230 230" preserveAspectRatio="xMinYMin meet">
        <defs>
          
         <mask id="msk1"> 
           <rect width="100%" height="100%" fill="black" />
          <circle cx="110" cy="110" r="100" fill="white" stroke-width="10" stroke="grey"  />
         </mask>
       </defs>
         
       
       <image id="img" x="-15px" y="-15px" xlink:href="https://i.stack.imgur.com/kTW7g.jpg/badrequest" width="100%" height="100%" mask="url(#msk1)" />
       </svg>	 
       </div> 
       <div class="container">
       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
           xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 230 230" preserveAspectRatio="xMinYMin meet">
        <defs>
          
         <mask id="msk1"> 
           <rect width="100%" height="100%" fill="black" />
          <circle cx="110" cy="110" r="100" fill="white" stroke-width="10" stroke="grey"  />
         </mask>
       
        </defs> 
       
        <image id="img" xlink:href="https://static.wixstatic.com/media/27273e_5687ec7a533442048b09b4c0f0584a77.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01/27273e_5687ec7a533442048b09b4c0f0584a77.jpg" width="100%" height="100%" mask="url(#msk1)" />
       </svg>	 
       </div>
       </div>

       </datagrid>

        </body> 
    </html>     