<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yucca</title>
    <link rel="stylesheet" href="/Style/main.css"/>
</head>
<body>
    <div id="first">
        <header>
               <nav>
                   <menu>
                       <a href="Products">Products</a>
                       <a href="About_us">About us</a>
                       <a href="Our_Store">Our Store</a>
                       <a href="Contact_us">Contact us</a>
                    </menu>
               </nav><br>
       </header>  
       <h1 class="main_text">
        Let your skin naturally renew itself
       </h1>
    </div>
  
</body>
</html>