<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin-Care</title>
    <link rel="stylesheet" href="css.main.css" />
</head>
<body>
    <div id="first"></div>
    <div id="main_text"></div>
  <header>
         <h1>new text</h1>
            <nav>
                <menu>
                    <li><a href="Products">Link 1</a></li>
                    <li><a href="About us">Link 2</a></li>
                    <li><a href="About Store">Link 3</a></li>
                    <li><a href="Contact us">Link 4</a></li>
                 </menu>
            </nav><br>
    </header>  
    <section>    
        <font color="#413E3C" size="20"face="Tahoma">
            Let your skin naturally renew itself
        </font>

        </section>
</body>
</html>